.loader{
    position: fixed;
    inset: 0;
    background: radial-gradient($color-secondary, $color-primary);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: disappear 0.2s ease-in-out 3s forwards;

    &__wrapper{
        width: 200px;
        height: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr) auto;

    }

    &__circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $color-tertiary;
        position: relative;
        left: 27.5%;
        animation: circle .5s alternate infinite ease;
        @include delay(animation,3,0.1s)
    }


    &__text{
        font-family: $ff-stylise;
        color: $color-white;
        font-size: 2rem;
        grid-column: 1/4;
        text-align: center;
        padding-top: 3rem;
        
    }
}