.menu-card{
    display: flex;
    justify-content: space-between;

    cursor: pointer;
    overflow: hidden;
    @extend %card-base;


    animation: slide-down 0.5s ease-in backwards;
    @include delay(animation, 9, 0.25s);
    

    &__body{
        flex: 1;
        min-width: 0;
        padding: 1rem;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        @extend %text-cut;
        font-size: $fs-1125;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }

    &__description{
        @extend %text-cut;
        font-size: 0.9rem;
        font-weight: 200;
    }

    &__price{
        font-weight: 600;
        padding-right: 0.5rem;
    }


    &__slider{
        font-size: $fs-1250;
        font-weight: 900;
        width: 4rem;
        margin-right: -4rem;
        background-color: $color-tertiary;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: margin-right 0.3s ease-in-out;
    }

    &__slider-icon{
        transition: transform 0.4s ease-in-out;
    }

    &:hover{

        & .menu-card__slider{
            margin-right: 0rem;
        }

        & .menu-card__slider-icon{
            transform: rotate(1turn);
        }
    }
}