//COLOR ADAPTATION

// function to darken the original color
@function darken($color){
    $hue : hue($color);
    $sat : 100%;
    $lightness: 25%;
    $darken : hsl($hue,$sat,$lightness);
    @return $darken;
}

//function to enlight the original color
@function lighten($color){
    $hue : hue($color);
    $sat : 100%;
    $lightness: 75%;
    $lighten: hsl($hue,$sat,$lightness);
    @return $lighten;
}

//function to render a color pastel
@function pastel($color){
    $hue : hue($color);
    $sat : 100%;
    $lightness: 95%;
    $pastel: hsl($hue,$sat,$lightness);
    @return $pastel;
}

//function for main gradient degrees
@function gradient($degree){
   @return linear-gradient($degree,$color-secondary 0%,$color-primary 100%);
}