// COLORS 

$color-primary : hsl(267, 66%, 60%);
$color-secondary : hsl(317, 100%, 74%);
$color-tertiary : hsl(165, 56%, 74%) ;

$color-main: hsl(0, 0%, 96%);
$color-headsearch:	hsl(0, 0%, 92%);
$color-footer: 	hsl(0, 0%, 21%);
$color-white: 	hsl(0, 0%, 100%);

// FONTSIZE

$fs-h1: 4rem;
$fs-h2: 3rem;
$fs-h3: 2rem;
$fs-h4: 1.5rem;
$fs-lg: 1.125rem;
$fs-base: 1rem;
$fs-sm: 0.75rem;
$fs-xs: 0.5rem;






// MEDIA BREAKPOINTS

$breakpoints: (
    'tablet' :(min-width : 767px) ,
    'desktop':(min-width : 1023px)
);