.header{
      
    &__main{
      display: flex;
      position:relative;
      justify-content: center;
      align-items: center;
      padding-block: 0.5rem;
      box-shadow:  2px 2px 2px 1px hsl(0, 0%, 40%, 0.2);
    }

    &__logo{
        font-size: $fs-2000;
        font-family: $ff-stylise;
        font-weight: 500;
    }

    &__back-button{

        position:absolute;
        left: 10vw;
        font-size: $fs-1125;
    }

    &__search{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-lightgrey;
        color: $color-deepgrey;
        gap: 1rem;
        padding-block: 1rem;
    }

    &__search-input{
        width: 8rem;
        font-weight: 600;
    }

}
